body {
    margin: 0;
}

#canvas {
    z-index: 1;
    display: block;
}

#loaderDiv {
    top: 0;
    left: 0;
    z-index:2;
    position: absolute;
}

#loader {
    z-index:2;
}

.spinner-3 {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#25b09b);
    animation:s3 1s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}